<!-- Modal -->
	<div class="modal left" id="change_myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">

				<div class="modal-header" style="border-bottom: none;">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					
				</div>

				<div class="modal-body">
					<div class="form-row" style="margin-left: 45px;">
                        <div class="form-group col-md-12">
                           
                           <div class="input-group">
                              <input type="text" class="form-control" placeholder="Search for Area,Streat Name" name="address">
                           </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="_96hVG locate-me" style="
                                padding: 0;
                                border: 1px solid #d4d5d9;
                                margin-bottom: 20px;
                            "><div class="_2peD4" style="
                                overflow: hidden;
                                cursor: pointer;
                                position: relative;
                            "><div class="J80xC" style="
                                display: table;
                                table-layout: fixed;
                                padding: 22px 24px;
                            "><i class="icofont-location-pin" style="color: #ff3008 !important;cursor: pointer;margin-left: -18px;padding-top: 3px;"></i>
                            <div class="_3eFzL" style="
                                vertical-align: middle;
                                vertical-align: middle;
                                display: table-cell;
                            "><div class="Ku2oK" style="
                                font-size: 16px;
                                font-weight: 500;
                                color: #282c3f;
                            ">Get current location</div><div class="_1joFh" style="
                                font-size: 13px;
                                color: #93959f;
                                line-height: 1.3;
                                padding-top: 5px;
                            ">Using GPS</div></div></div></div></div>
                            </div>
                        
                        
                     </div>
				</div>

			</div><!-- modal-content -->
		</div><!-- modal-dialog -->
	</div><!-- modal -->