<!doctype html>
<html lang="en">
<head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="Askbootstrap">
      <meta name="author" content="Askbootstrap">
      <title><%= title %></title>
      <!-- Bootstrap core CSS-->
      <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <!-- Font Awesome-->
      <link href="/assets/vendor/fontawesome/css/all.min.css" rel="stylesheet">
      <link href="/assets/vendor/fontawesome/css/icofont.css" rel="stylesheet">
      <!-- Font Awesome-->
      <link href="/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
      <!-- Select2 CSS-->
      <link href="/assets/vendor/select2/css/select2.min.css" rel="stylesheet">
      <!-- Custom styles for this template-->
      <link href="/assets/main.css" rel="stylesheet">
      <!-- Owl Carousel -->
      <link rel="stylesheet" href="/assets/vendor/owl-carousel/owl.carousel.css">
      <link rel="stylesheet" href="/assets/vendor/owl-carousel/owl.theme.css">

      <link href="/assets/errors/404.css" rel="stylesheet">

      <!------------------Toaster-------------->
     <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/css/toastr.min.css">
     <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
     <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js"></script>

      <!----------Fancybox ---------------->
      <link rel="stylesheet" href="/assets/fancybox/jquery.fancybox.css">

       <link href="/assets/change_location_model.css" rel="stylesheet">
   </head>
   <body>

 
