<!-- Modal -->
      <div class="modal fade" id="login-model" tabindex="-1" role="dialog" aria-labelledby="add-address">
         <div class="modal-dialog modal-dialog-centered" role="document">
         <form name="sigin-in-form" method="post" action="/login">    
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="add-address">Login</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body">
               <% //if (error) { %>
                     <div class="user-message user-message--error text-center"><%#= error %></div>
               <% //} %>
                     <div class="form-row">
                        <div class="form-group col-md-12">
                           <label for="inputPassword4">Mobile
                           </label>
                           <input type="text" class="form-control" placeholder="Mobile Number" name="mobile_no">
                        </div>
                        <div class="form-group col-md-12">
                           <label for="inputPassword4">Password
                           </label>
                           <input type="password" class="form-control" name="password" placeholder="***********">
                        </div>
                        
                     </div>
                  </form>
               </div>
               <div class="modal-footer">
                <input type="submit" name="sign-in" class="btn d-flex w-50 text-center justify-content-center btn-primary" style="margin-left:auto;margin-right: auto;" value="Sign In"/>
               </div>
            </div>
         </form>

         </div>
      </div>
      <!-- Modal -->