    <div class="col-md-3">
        <div class="osahan-account-page-left shadow-sm bg-white h-100">
            <div class="border-bottom p-4">
            <div class="osahan-user text-center">
                <div class="osahan-user-media">

                  <div id="imgContainer">
                        <form enctype="multipart/form-data" action="/upload_profile_image" method="post" name="image_upload_form" id="image_upload_form">
                            <div id="imgArea">
                                <img src="<%=session.profile_image %>" style="border-radius: 50%;">     
                            <div class="progressBar">
                                <div class="bar"></div>
                                <div class="percent">0%</div>
                            </div>
                            <div id="imgChange">
                                <input type="file"  name="image_upload_file" id="image_upload_file">
                            </div>
                            </div>
                        </form>
                    </div>  

                    <div class="osahan-user-media-body">
                        <h6 class="mb-2"> <%= (isAuthenticated) ? session.name : '' %></h6>
                        <p class="mb-1"><%= (isAuthenticated) ? session.mobile : '' %></p>
                        <p><%= (isAuthenticated) ? session.email : '' %></p>
                        <p class="mb-0 text-black font-weight-bold"><a class="text-primary mr-3" data-toggle="modal" data-target="#edit-profile-modal" href="#"><i class="icofont-ui-edit"></i> EDIT</a></p>
                    </div>
                </div>
            </div>
            </div>
            <ul class="nav nav-tabs flex-column border-0 pt-4 pl-4 pb-4" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" id="orders-tab" href="/orders" role="tab" aria-controls="orders" aria-selected="true"><i class="icofont-food-cart"></i> Orders</a>
            </li>
           
            <li class="nav-item">
                <a class="nav-link" id="favourites-tab"  href="/favourites" role="tab" aria-controls="favourites" aria-selected="false"><i class="icofont-heart"></i> Favourites</a>
            </li>
           
            <li class="nav-item">
                <a class="nav-link" id="addresses-tab"  href="/addresses" role="tab" aria-controls="addresses" aria-selected="false"><i class="icofont-location-pin"></i> Addresses</a>
            </li>
            </ul>
        </div>
    </div>