<!-- Modal -->
      <div class="modal fade" id="sigunp-modal" tabindex="-1" role="dialog" aria-labelledby="add-address">
         <div class="modal-dialog modal-dialog-centered" role="document">
         <form name="sigin-in-form" method="post" action="/signup">    
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="add-address">Register</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body">
               
                     <div class="form-row">
                        <div class="form-group col-md-12">
                           <label for="inputPassword4">Name
                           </label>
                           <input type="text" class="form-control" placeholder="Full Name" name="name" >
                        </div>
                        <div class="form-group col-md-12">
                           <label for="inputPassword4">Mobile
                           </label>
                           <input type="text" class="form-control" name="mobile_no" placeholder="Mobile No">
                        </div>

                        <div class="form-group col-md-12">
                           <label for="inputPassword4">Email
                           </label>
                           <input type="email" class="form-control" name="email" placeholder="Email Address">
                        </div>

                        <div class="form-group col-md-12">
                           <label for="inputPassword4">Password
                           </label>
                           <input type="password" class="form-control" name="password" placeholder="password">
                        </div>
                        
                     </div>
                  </form>
               </div>
               <div class="modal-footer">
                <input type="submit" name="sign-in" class="btn d-flex w-50 text-center justify-content-center btn-primary" style="margin-left:auto;margin-right: auto;" value="Sign Up"/>
               </div>
            </div>
         </form>

         </div>
      </div>
      <!-- Modal -->