
<% include ../../partials/head %>
<% include ../../partials/menu %>

	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>4<span></span>4</h1>
			</div>
			<h2>Oops! Something Went Wrong</h2>
			<p>Sorry We are working on this</p>
			<a href="/">Back to homepage</a>
		</div>
	</div>
    <section class="section pt-5 pb-5 text-center bg-white">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <h5 class="m-0">Operate food store or restaurants? <a href="https://askbootstrap.com/preview/osahan-eat/login.html">Work With Us</a></h5>
               </div>
            </div>
         </div>
      </section>
    <% include ../../partials/footer %>
</body>
</html>
