
<% include ../partials/head %>
<% include ../partials/secure_menu %>

	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<img alt="Generic placeholder image" src="/assets/images/emptycart.jpg" class="nav-osahan-pic rounded-pill"> <%= //user.name %>
			</div>
			<h2>Your cart is empty</h2>
			<p>You can go to home page to view more restaurants</p>
			<a href="/">See restaurants</a>
		</div>
	</div>
    <section class="section pt-5 pb-5 text-center bg-white">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <h5 class="m-0">Operate food store or restaurants? <a href="https://askbootstrap.com/preview/osahan-eat/login.html">Work With Us</a></h5>
               </div>
            </div>
         </div>
      </section>
    <% include ../partials/footer %>
</body>
</html>
