<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="colorlib.com">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Form</title>

    <!-- Main css -->
     <link rel="stylesheet" href="/assets/restaurant/css/restaurant_style.css">
</head>
<body>

    <div class="main">

        <div class="container">
            <form method="POST" id="signup-form" class="signup-form" action="/restaurant/register">
                <div>
                    <h3>Outlet Information</h3>
                    <fieldset>
                        <h2>Restaurant Details</h2>
                        <p class="desc">Please enter your infomation and proceed to next step so we can build your account</p>
                        <div class="fieldset-content">
                            <div class="form-row">
                                <label class="form-label">Name</label>
                                <div class="form-flex">
                                    <div class="form-group">
                                        <input type="text" name="name" id="first_name" />
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" name="email" id="email" />
                                <!--<span class="text-input">Example  :<span>  Jeff@gmail.com</span></span>-->
                            </div>
                            <div class="form-group">
                                <label for="phone" class="form-label">Phone</label>
                                <input type="text" name="mobile_no" id="phone" />
                            </div>

                            <div class="form-group">
                                <label for="phone" class="form-label">Password</label>
                                <input type="text" name="password" id="phone" />
                            </div>
                           
                            <div class="form-group">
                                <label for="ssn" class="form-label">Address</label>
                                <textarea  name="address" id="ssn" rows="5" cols="92"></textarea>
                            </div>

                            <div class="form-group">
                                <label for="phone" class="form-label">Latitude</label>
                                <input type="text" name="latitude" id="phone" />
                            </div>

                            <div class="form-group">
                                <label for="phone" class="form-label">Longitude</label>
                                <input type="text" name="longitude" id="phone" />
                            </div>
                        </div>
                    </fieldset>

                    <h3>Bank Details</h3>
                    <fieldset>
                        <h2>Connect Bank Account</h2>
                        <p class="desc">Please enter your infomation and proceed to next step so we can build your account</p>
                        <div class="fieldset-content">
                            <div class="form-row">
                                <label class="form-label">Bank Name</label>
                                <div class="form-flex">
                                    <div class="form-group">
                                        <input type="text" name="bank_name" id="bank_name" />
                                        <span class="text-input">First</span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <label class="form-label">PanCard</label>
                                <div class="form-flex">
                                    <div class="form-group">
                                        <input type="text" name="pancard" id="pancard" />
                                        <span class="text-input">First</span>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </fieldset>

                    <h3>Other Information</h3>
                    <fieldset>
                        <h2>Other Information</h2>
                        <p class="desc">Set up your money limit to reach the future plan</p>
                        <div class="fieldset-content">
                            <div class="form-row">
                                <label class="form-label">Delivery Distance</label>
                                <div class="form-flex">
                                    <div class="form-group">
                                        <input type="text" name="delivery_distance" id="first_name" />
                                        <span class="text-input">First</span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <label class="form-label">Tiffin Start From</label>
                                <div class="form-flex">
                                    <div class="form-group">
                                        <input type="text" name="tifiin_start_from" id="tifiin_start_from" />
                                        <span class="text-input">First</span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <label class="form-label">Cuisine Type</label>
                                <div class="form-flex">
                                    <div class="form-group">
                                        <select name="cuisine_type" id="cuisine_type" >
                                        <option value="volvo">Veg</option>
                                        <option value="saab">Non-Veg</option>
                                        <option value="saab">Both</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </form>
        </div>

    </div>

    <!-- JS -->
    <script src="/assets/restaurant/vendor/jquery/jquery.min.js"></script>
    <script src="/assets/restaurant/vendor/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/assets/restaurant/vendor/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="/assets/restaurant/vendor/jquery-steps/jquery.steps.min.js"></script>
    <script src="/assets/restaurant/vendor/minimalist-picker/dobpicker.js"></script>
    <script src="/assets/restaurant/vendor/nouislider/nouislider.min.js"></script>
    <script src="/assets/restaurant/vendor/wnumb/wNumb.js"></script>
    <script src="/assets/restaurant/js/main.js"></script>
</body>

</html>